html{
    background-color: black;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

.omen{
    width: 100%;
    border: 5px white solid;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}
